{% extends 'base.html.twig' %}

{% block title %}Mon application React
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div id="app"></div>
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	{{ encore_entry_script_tags('app')}}
{% endblock %}
